<!-- Filter container -->
<div class="filter-container">
  <div class="filter-input" >
    <input type="text" placeholder="Branch Name" [(ngModel)]="branchName" (input)="filterBranches()">
  
<div *ngIf="branchName">
    <select #selectElement (change)="onFilterChange(selectElement.value)">
        <option *ngFor="let branch of filteredBranches" [value]="branch">{{ branch }}</option>
    </select>
</div>
</div>

  <div class="filter-input">
    <input type="text" placeholder=" Branch ID" [(ngModel)]="branchIdFilter"  (input)="filterBranchIds()">
    <div *ngIf="branchIdFilter">
      <select #selectBranchIdElement (change)="onBranchIdFilterChange(selectBranchIdElement.value)">
          <option *ngFor="let branchId of filteredBranchIds" [value]="branchId">{{ branchId }}</option>
      </select>
  </div>
  </div>
  <div class="filter-input">
    <input type="text" placeholder=" Product Name" [(ngModel)]="productFilter">
  </div>
</div>
<!-- Display "Apply Filters" button -->
<div class="filter-input">
  <button class="filter-button" (click)="applyFilters()">Apply Filters</button>
</div>

<br>
<!-- Container for the table -->
<div class="filtered-data-container">
  <!-- Table to display filtered data -->
  <table class="filtered-data-table" *ngIf="filteredAdvanceData.length > 0">
    <thead>
      <tr>
        <th>Branch Id</th>
        <th>Branch Name</th>
        <th>Product ID</th>
        <th>Product Grouping</th>
        <th>Product Type Description</th>
        <th>OS</th>
        <th>Count</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredAdvanceData">
        <td>{{ item.BRANCH_ID }}</td>
        <td>{{ item.BRANCH_NAME }}</td>
        <td>{{ item.PROD_TYP}}</td>
        <td>{{ item.PRODUCT_GRPING }}</td>
        <td>{{ item.PROD_TYP_DESC }}</td>
        <td>{{ item.OS_FTD }}</td>
        <td>{{ item.CNT_FTD }}</td>
        <!-- Add more columns as needed -->
      </tr>
    </tbody>
  </table>
  <!-- Display filtered data not found message -->
  <p *ngIf="filteredDataMessage" class="filteredDataMessage">{{ filteredDataMessage }}</p>
</div>

