<div class="dashboard-container">
  <!-- Tabs -->
  <div class="tab">
    <button class="tablinks" (click)="openTab($event, 'dailySnapshot')" [class.active]="currentTab === 'dailySnapshot'">Daily Business</button>
    <button class="tablinks" (click)="openTab($event, 'products')" [class.active]="currentTab === 'products'">Products</button>
    <button class="tablinks" (click)="openTab($event, 'filters')" [class.active]="currentTab === 'filters'">Filters</button>
  </div>

  <!-- Tab content -->
  <div id="dailySnapshot" class="tabcontent" [ngStyle]="{ display: currentTab === 'dailySnapshot' ? 'block' : 'none' }">
    <h2 class="center-text">Daily Business Snapshot - {{ today }}</h2>
  
    <!-- List of Tiles displayed horizontally -->
    <div class="tile-list-horizontal">
      <!-- Tile for Total Deposit -->
      <div class="tile">
        <h3>Total Deposits</h3>
        <p>{{ totalDepositAmount | currency:'INR':'symbol':'1.2-2' }}</p>
      </div>
  
      <!-- Tile for Total Advance -->
      <div class="tile">
        <h3>Total Advances</h3>
        <p>{{ totalAdvanceAmount | currency:'INR':'symbol':'1.2-2' }}</p>
      </div>
  
      <!-- Tile for Total Business -->
      <div class="tile">
        <h3>Total Business</h3>
        <p>{{ totalBusinessAmount | currency:'INR':'symbol':'1.2-2' }}</p>
      </div>
    </div>
  
    <app-customer></app-customer>
  </div>

  <div id="products" class="tabcontent" [ngStyle]="{ display: currentTab === 'products' ? 'block' : 'none' }"><br>
    <br>
    <!-- Radio buttons for selecting deposit or advance -->
    <div class="radio-container">
      <label><input type="radio" name="depositAdvanceOption" [(ngModel)]="selectedOption" value="deposit"> Deposit</label>
      <label><input type="radio" name="depositAdvanceOption" [(ngModel)]="selectedOption" value="advance"> Advance</label>
    </div>
    
  
    <!-- Display selected option content -->
    <div *ngIf="selectedOption === 'deposit'">
      <!-- Include the deposit table here -->
      <app-deposit></app-deposit>
    </div>
    <div *ngIf="selectedOption === 'advance'">
      <!-- Include the advance table here -->
      <app-advance></app-advance>
    </div>
  </div>

  <div id="filters" class="tabcontent" [ngStyle]="{ display: currentTab === 'filters' ? 'block' : 'none' }"><br>
    <br>
    <!-- Filter container -->
    <div class="filter-container">
      <div class="filter-input">
        <input type="text" placeholder=" Branch" [(ngModel)]="branchName">
      </div>
      <div class="filter-input">
        <input type="text" placeholder=" Branch ID" [(ngModel)]="branchIdFilter">
      </div>
      <div class="filter-input">
        <input type="text" placeholder=" Product" [(ngModel)]="productFilter">
      </div>
    </div>
    <br>
      <div class="filter-input">
        <button class="filter-button" (click)="applyFilters()">Apply Filters</button>
      </div>
    
  </div>

  <div class="container">
    
    <div *ngFor="let branch of branchData" class="branch-item">
        <h2>{{ branch.BRANCH_NAME }}</h2>
        <div class="branch-details">
            <div *ngFor="let key of branchKeys" class="detail">
                <strong>{{ key }}:</strong> {{ branch[key] }}
            </div>
        </div>
    </div>
</div>

</div>
