.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px; /* Add padding to the container */
}

.tile-list-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-text {
  text-align: center;
  padding-bottom: 50px;
}

.tile {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 200px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background-color: #103961;
}

.tile:hover {
  background-color: #a32424;
  color: white; /* Text color when hovering */
  transform: scale(1.1); 
}

.custom-dropdown {
  margin-top: 10px;
}

.product-table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table td {
  background-color: #fff;
}

.product-table td.empty-column {
  width: 20px;
}

.plus-column {
  width: 20px;
}

.dropdown-container{
  padding-top: 50px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  box-sizing: border-box;
}

/* dashboard.component.css */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.filter-input {
  margin-right: 50px; /* Adjust as needed */
  margin-left: 50px;
}
.filter-button {
  background-color:  #4CAF50; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px; /* Rounded corners */
}

.filter-button:hover {
  background-color: #115615; 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.87);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open-button {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 20px;
  padding-top: 30px;
}


.tab {
  overflow: hidden;
  background-color: white;
}

.tab button {
  background-color: #a32424;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;

}

.tab button:hover {
  background-color: #a32424;
  color: black; 
  transform: scale(1.1); 
  
}
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.radio-container label {
  margin-right: 20px; 
}




.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.branch-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.branch-item h2 {
  margin-top: 0;
}

.branch-details {
  display: flex;
  flex-wrap: wrap;
}

.detail {
  flex: 1;
  padding: 5px;
}

.detail:nth-child(odd) {
  background-color: #f9f9f9;
}




@media only screen and (max-width: 600px) {

  .tile {
    width: 120px;
    padding: 15px;
    height: 55px;
    font-size: smaller;
    transition: transform 0.3s ease-in-out;
  }

  .tile-list-horizontal::after {
    clear: both;
  }

  .tile:hover {
    background-color: #a32424;
    color: white; 
    transform: scale(1.1); 
  }
  .tile {
    margin: 10px auto; 
  }

  .tile:nth-child(3) {
    margin-top: 20px; 
  }

  .filter-input {
    margin: 10px;
    width: calc(25.33% - 20px); 
  }

  input[type="text"] {
    width: 120%; 
    padding: 8px; 
    padding: inherit;

  }

  .filter-button {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    padding: 0px 25px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 160px;
    cursor: pointer;
    border-radius: 10px; 
  }

  .filter-button:hover {
  background-color: #115615; 
}

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {font-size: 18px;}

  .center-text{
    padding-left: 30px;
    padding-bottom: 5px;
}

.open-button {
  padding-top: 70px;
  top:25px;
}

.tabcontent {
  display: none;
  padding: 20px 12px;
}

}
