
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.login-box {
  border: 1px solid #ddd;
  width: 400px;
  text-align: center;
  color: white;
  margin-top: 50px;
  background-color: #bd4141;
  position: relative;
}

.app-bar {
  background-color: #103961;
  padding: 10px;
}

.login-heading {
  margin: 0;
}

div {
  margin-bottom: 15px;
}

div select,
div input {
  width: calc(100% - 16px);
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.user-id-input,
.password-input,
div select {
  position: relative;
}

.user-id-input i,
.password-input i,
div select i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.password-input i,
.user-id-input i,
div select i {
  margin-left: 8px;
}


.password-request {
  color: white;
  margin-right: 10px;
}

.error-message {
  color: black;
  text-align: center;
  margin-top: 10px; 
  line-height: 1; 
}

.captcha-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  margin-right: 10px;
}

.captcha-input {
  display: flex;
  align-items: center;
}

.captcha-input input {
  flex-grow: 1;
  padding: 8px;
  box-sizing: border-box;
}

.captcha-input img {
  margin-left: 10px;
}

.bottom-section {
  background-color: #103961;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10; /* Adjusted the bottom property */
  height: 100px;
}

.signup-button {
  background-color: #103961;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 15%;
}


.captcha-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.refresh-captcha {
  margin-left: 10px;
}

.login-button {
  background-color: #103961;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-top: 10px;
  margin-left: auto; 
  margin-right: auto; 
  display: block; 
}

/* Styles for smaller screens */

@media (max-width: 768px) {
  .login-box {
    width: 80%; /* Adjust the width as needed for smaller screens */
    margin-top: 15%; /* Adjust the margin as needed */
    font-size: small;
  }
}