/* app.component.css */

.app-bar {
  display: flex;
  flex-direction: column;
}

.dark-blue {
  background-color: #103961; /* Light red color */
  height: 50px; /* Adjust the height as needed */
}

.white {
  background-color: white; /* Dark blue color */
  height: 40px; /* Adjust the height as needed */
}

.light-blue {
 
  height: 40px; /* Adjust the height as needed */
  display: flex;
  justify-content: flex-end; /* Align the items to the end (right) of the container */
  align-items: center;
  padding-right: 16px; /* Add right padding to the light-blue bar */
}
.red{
  background-color: rgb(166, 65, 65);
  height: 56px;
}
.logo-image {
  width: 105px;
  height: 30px;
  padding-top: 8px;
  padding-left: 25px;
}


.logout-button {
  position: absolute;
  top: 7px;
  right: 21px;
  width: 25px;
  height: 25px;
  background-color:white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #d0262d;
  font-size: 13px;
  border:none;
}

.user-container {
  position: relative;
  width: 200px; /* Width of the container, adjust as needed */
  height: 150px; /* Height of the container, adjust as needed */
}

.user-icon {
  position: absolute;
  top: 7px;
  right: 61px;
  width: 25px;
  height: 25px;
  background-color:white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #bd4141;
  font-size: 13px;
}
